@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
$primaryColor: #ffe4cf;

#root {
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;

  #watch-hour {
    .row {
      width: 100%;

      @media screen and (max-width: 576px) {
        div {
          padding-right: 5px;
          padding-left: 5px;
        }
      }

      section {
        &.sec-1 {
          background-image: url("../../assets/images/wave 1.svg");
        }
        &.sec-2 {
          background-image: url("../../assets/images/wave 2.svg");
        }
        &.sec-3 {
          background-image: url("../../assets/images/wave 3.svg");
        }

        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 102%;
        color: $primaryColor;
        border-color: $primaryColor !important;
        text-align: center;
        font-size: 8rem;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        overflow: hidden;

        @media screen and (max-width: 992px) {
          font-size: 6rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 4rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
